@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  margin-bottom: 15px;
  text-align: center;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300; 
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  clip-path: circle(60%);
  background-color: #aaefcf;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}


button {
  background-color: #00d7a5;
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

button:focus {
  outline: 3px solid #00d7a5;
}

button:hover {
  background-color: #aaefcf;
}

button:disabled {
  background-color: #ccc;
}


label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

/*Login form style*/
.form-input {
  display: flex;
  flex-direction: column;
  align-items: left;
}


.add-patient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

input:focus,
textarea:focus {
  outline: 2px solid #8eecb7;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  padding: 50px 100px 50px 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.or-container {
  
  text-align: center;
  margin: 10px 0;
  
}

.google-login-button {
  background-color: #00d7a5;
  color: black;
  border: none;
  padding: 12px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.google-login-button:hover {
  background-color: #aaefcf;
}
.google-login-button:focus {
  outline: 2px solid #00d7a5;
}



.sign-out-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #d9534f; 
  color: white;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #c9302c; 
}


/*Tabelas da Home.jsx*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th {
  background-color: #c4f3dd;
  text-align: center;
  padding: 10px;
}

td {
  text-align: justify;
  padding: 10px;
}



/* Error message styles */
.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 10px;
}

